body {
    background-color: #e0e0e0;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    print-color-adjust: important;
}

.page-a4 {
    width: 210mm;
    min-height: 297mm;
    padding: 20mm;
    margin: auto;
    background-color: #ffffff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    box-sizing: border-box;
}

h1, h2 {
    margin-bottom: 0.5em;
    text-align: center;
}

h3, p {
    margin-bottom: 0.5em;
    margin-top: 1em;
}

p {
    text-align: justify;
    text-indent: 1.5em;
    line-height: 1.5;
}

hr {
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
}

a {
    text-decoration: none;
}

@media print {
    body {
        background-color: #ffffff;
    }

    .page-a4 {
        margin: 0;
        box-shadow: none;
        width: 100%;
        min-height: 0;
        padding: 0;
    }

    h2 {
        page-break-before: auto;
    }
}